@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
      .snap {
        scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
      }
      .snap-y {
        --scroll-snap-direction: y;
      }
      .snap-mandatory {
        --scroll-snap-constraint: mandatory;
      }
      .snap-start {
        scroll-snap-align: start;
      }

      .hide-scrollbar-chrome::-webkit-scrollbar {
        display: none;
      } 

      .hide-scrollbar-firefox {
        -ms-overflow-style: none;
        scrollbar-width: none; 
      }

      .scroll-smooth {
        scroll-behavior: smooth;
      }

  }